body, div, p, h1, h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

a:hover {
  background: rgba(204, 204, 204, 0.3);
  color: #fefefe;
}

a:active, a:focus {
  color: #222;
}

.a11y {
  position: absolute;
  top: -9999em;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  letter-spacing: 1px;
  position: relative;
}

.header {
  color: #fefefe;
}

.navigation ul li {
  color: #fefefe;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-35deg, #ff6e7f, #bfe9ff);
  position: relative;
  padding: 5em 0;
  box-sizing: border-box;
}

@media screen and (max-width: 50em) {
  .main {
    padding-right: 2em;
    padding-left: 2em;
  }
}

.main .row {
  height: 100%;
}

.main .map {
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

@media screen and (max-width: 50em) {
  .main .map {
    height: 30%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
  }
}

.main .map #map {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
  transform: scale(1);
  box-sizing: border-box;
}

@media screen and (max-width: 50em) {
  .main .map #map {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
  }
}

.main-content {
  position: relative;
  height: 100%;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 50em) {
  .main-content {
    height: 70%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-top: 0;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
  }
}

.main-content .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #fefefe;
}

@media screen and (max-width: 50em) {
  .main-content .profile-img {
    display: none;
  }
}

.main-content .profile-img img {
  width: 100%;
  height: 100%;
}

.main-content h2 {
  margin-top: 1em;
  color: #fefefe;
  font-size: 2.3em;
  text-transform: uppercase;
}

@media screen and (max-width: 50em) {
  .main-content h2 {
    margin: 0;
  }
}

.main-content .btn-group {
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 100%;
}

.main-content .btn-group button {
  border: 0;
  background: transparent;
  color: #fefefe;
  cursor: pointer;
  opacity: 0.7;
  font-family: 'icomoon' !important;
}

.main-content .btn-group button:first-child {
  float: left;
}

.main-content .btn-group button:first-child::before {
  content: '\ea44';
  font-size: 2em;
}

.main-content .btn-group button:last-child {
  float: right;
}

.main-content .btn-group button:last-child::before {
  content: '\ea42';
  font-size: 2em;
}

.main-content .btn-group button:hover {
  color: #5e5e5e;
  transition: color 0.3s ease-in-out;
}

.name {
  text-align: center;
}

.name span {
  margin-top: 1em;
  color: #fefefe;
}

.name span::after {
  content: '';
  display: block;
  width: 1.5em;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
}

.carousel-container {
  width: 80%;
  height: 40%;
  position: relative;
}

.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.carousel .slide.showing {
  opacity: 1;
  z-index: 2;
}

.quote {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.quote p {
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #fefefe;
}

@media screen and (max-width: 50em) {
  .quote p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
  }
}

.quote p q::before, .quote p q::after {
  content: '\e977';
  font-family: 'icomoon' !important;
  font-size: 0.5em;
  position: relative;
  top: -1em;
}

@media screen and (max-width: 50em) {
  .quote p q::before, .quote p q::after {
    font-size: 0.3em;
  }
}

.quote p q::before {
  left: -0.5em;
}

.quote p q::after {
  right: -0.5em;
}

.lang {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.lang span {
  margin-top: 0.2em;
  display: block;
  text-align: center;
  font-weight: lighter;
  color: #fefefe;
}

.lang span:first-child {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.sns-icons img {
  width: 1.3em;
  height: auto;
}

.sns-icons a {
  width: 100%;
  height: 100%;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 1.3em;
  font-family: 'icomoon' !important;
  color: #fefefe;
}

.sns-icons a:hover {
  background: none;
  color: #ff6e7f;
  transition: color 0.3s ease-in-out;
}

.sns-icons a:nth-child(1)::before {
  content: '\e904';
}

.sns-icons a:nth-child(2)::before {
  content: '\e903';
}

.sns-icons a:nth-child(3)::before {
  content: '\e901';
}

.sns-icons a:nth-child(4)::before {
  content: '\e902';
}

footer span {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #fefefe;
  opacity: 0.7;
  font-weight: lighter;
}
