@charset "UTF-8";

.header,
.navigation,
.navigation ul,
.navigation li,
.navigation a {
  box-sizing: border-box;
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  background: hsla(0, 0%, 80%, 0.3);
  color: #fefefe;
}
a:active {
  background: hsla(0, 0%, 80%, 0.3);
  color: #fefefe;
}
a:focus {
  background: hsla(0, 0%, 80%, 0.3);
  color: #fefefe;
}

.header {
  width: 100%;
  height: 70px;
  padding: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10000;
  transition-delay:0s;
  transition-duration:0.3s;
  transition-property:background;
  transition-timing-function: ease-in-out;
}
.header-fixed {
  position: fixed;
  background: hsla(0, 0%, 100%, 0.8);
  color: #868686;
  border-bottom: 1px solid #e3e3e3;
}
.header h1 {
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  font-size: 25px;
}
.navigation {
  position: absolute;
  right: 0;
}
.nav-toggle {
  display: none;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}

.navigation ul li {
  display: inline-block;
  color: #fff;
  margin: 0 15px;
  /*font-weight: lighter;*/
}
.header.header-fixed ul li a {
  color: #868686;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 20px;
    height: 50px;
    /*border-bottom: 1px solid #e3e3e3;*/
    box-sizing: border-box;
  }
  .header h1 {
    font-size: 20px;
    position: absolute;
    z-index: 100;
  }
  .navigation {
    width: 100%;
    top: 0;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 1.2em;
    color: #fefefe;
  }
  .nav-toggle::before {
    content: '\e9bd';
    font-family: 'icomoon';
  }
  .navigation ul {
    height: 0;
    overflow: hidden;
    padding-top: 50px;
    margin-right: 0;
    transition: all 0.3s ease-in-out;
  }
  .navigation.navigation-mobile {
    border-bottom: 1px solid #e3e3e3;
  }
  .navigation.navigation-mobile ul {
    background: hsla(0, 0%, 80%, 0.3);
    height: 170px;
  }
  .navigation ul li {
    display: block;
    margin-right: 0;
    margin-left: 0;
    text-align: right;
    /*border-bottom: 1px solid #e3e3e3;*/
  }
  .navigation ul li:last-child {
    border: 0;
  }
  .navigation ul li a {
    display: block;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    padding-right: 1em;
  }
}
