/*@charset "UTF-8";*/
/*@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b595fu');
  src:  url('fonts/icomoon.eot?b595fu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b595fu') format('truetype'),
    url('fonts/icomoon.woff?b595fu') format('woff'),
    url('fonts/icomoon.svg?b595fu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

/* RESET */
body, div, p, h1, h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  background: hsla(0, 0%, 80%, 0.3);
  color: #fff;
}
a:active {
  color: #222;
}
a:focus {
  color: #222;
}

/* MODULES */
.a11y {
  position: absolute;
  top: -9999em;
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  letter-spacing: 1px;
  position: relative;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main-cover {
  width: 100%;
  height: 100vh;
  background: url(../img/bg/bg-1.jpg) no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(20px);
  transform: scale(1.2);
  position: relative;
  z-index: -1;
}

.main-cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5b5b5b;
  opacity: 0.2;
}

.main-cell {
  width: 100%;
  /*padding-top: 100px;*/
  /*height: 40vh;*/
  /*text-align: center;*/
  color: #222;
  position: absolute;
  top: 30vh;
  z-index: 1000;
  display: block;
}

.profile-img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}

.profile-img img {
  width: 80px;
  height: 80px;
}

.profile-cell {
  color: #e9e9e9;
  text-align: center;
  margin-top: 100px;
}

.profile-cell p {
  margin-bottom: 10px;
  font-weight: lighter;
}

.profile-cell p span {
  font-size: 50px;
}
/*.profile-cell label {
  display: block;
  font-weight: lighter;
}

.profile-cell input {
  background: #acacac;
  opacity: 0.6;
  border: 0;
  padding: 0.9em 1.5em;
  border-radius: 5px;
  color: #eeeeee;
  margin: 0.5em;
  outline: 0;
}*/

footer span {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #fefefe;
  opacity: 0.7;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .main-cell {
    position: absolute;
    bottom: 50%;
  }
  .main-cell h2 {
    font-size: 30px;
  }
}
