@charset "UTF-8";

body {
  margin-top: 0;
  margin-bottom: 0;
}

th, td {
  padding: 0;
}

/* GUIDE */
.guide {
  background: url("../img/leading-21.png");
  min-height: 100vh;
}

/* LAYOUT */
.container {
  width: 1920px;
  /*margin-left: auto;
  margin-right: auto;*/
  display: flex;
  padding: 84px 160px;
  box-sizing: border-box;
}

/* MODULE */
.a11y {
  position: absolute;
  top: -9999em;
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  font: 87.5%/1.5 "Spoqa Han Sans", sans-serif;
  /*14px/16*100 %*/
}

/* 본문 디자인 */
p, ul, ol, dl, dt, dd {
  margin-top: 21px;
  margin-bottom: 0;
  letter-spacing: -0.02em;
  /* 자간 : photoshop 자간 값 / 1000 em */
}

.col-1 {
  flex: 1;
}
.col-2 {
  flex: 1;
}

/* 리스트 스타일 */
ul ul, ol ol, dd {
  margin-top: 0;
}

li {
  margin-bottom: 0;
  letter-spacing: -0.02em;
}

/* 제목 디자인 */
.typo-title, .lists-title, .color-title, .table-title {
  font-size: 1.98em; /* 1 * 1.313 */
  color: #7171ef;
  line-height: 0.75;
  font-weight: bold;
  text-transform: uppercase;
}

/* TYPOGRAPHY*/
.typography {
  width: 640px;
}
h1, h2, h3, h4, h5, h6 {
  /*margin-top: 21px;*/
  margin-bottom: 0;
  font-weight: 200;
}

h6 {
  /*font-size: 14px;*/
  font-size: 1em;
  margin-top: 1.5em; /* 14/16 */
  color: #787f94;
}

h5 {
  /*font-size: 18.382px;*/
  font-size: 1.313em; /* 1 * 1.313 */
  line-height: 2.29;
  /* 2칸*(1.5/1.313) */
  margin-top: 1.14em;
  color: #787f94;
}

h4 {
  margin-top: 0.87em;
  /*font-size: 24.135566px;*/
  font-size: 1.73em; /* 1.313 * 1.313 */
  color: #787f94;
  line-height: 1.74;
  /* Math.ceil(1.723969 / 1.5) * (1.5 / 1.723969) */
  /* 본문 글자 크기의 상대 비율 / 본문 글자 크기의 행간 비율 */
  /* ceil() : 올림 */
  /*
   몇 칸의 행간 폭을 가지는가?: Math.ceil(본문 글자 크기의 상대비율/본문 글자 크기의 행간 비율)
   글자 크기 비율에 상대적인 행간 비율 값은?: (본문 글자 크기의 행간 비율/본문 글자 크기의 상대비율)
   행간은? 위 두개의 결과를 곱한 값
   */
}

h3 {
  font-size: 2.27em;
  line-height: 1.33;
  margin-top: 0.66em;
}

h2 {
  font-size: 2.98em;
  line-height: 1.52;
  margin-top: 0.51em;
}

h1 {
  font-size: 3.91em;
  line-height: 1.17;
  margin-top: 0.38em;
}

img {
  margin-top: 21px;
  vertical-align: top;
}
/* END TYPOGRAPHY */

/* LISTS */
.ul-color,
.ul-color ul{
  list-style: none;
  font-family: Verdana;
}

.ul-color li:before {
  display: inline-block;
  width: 0.7em;
  margin-left: -0.7em;
  color: #69d59c;
}
.ul-color li:before {
  content: "\2022";
}
.ul-color li li:before {
  content: "\25E6";
}
.ul-color li li li:before {
  content: "\25AA";
}

.ol-color {
  color: #44cb83;
}

.ol-color .ol-color-content {
  color: #000;
}

.demo-dl dt {
  font-weight: 700;
  color: #69d59c;
}
.demo-dl dd {
  position: relative;
  width: 300px;
  margin-left: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;
}
.demo-dl dd::before {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 10px;
  width: 0;
  border-left: 3px solid #69d59c;
}
/* END LISTS */

/* COLOR */
.color-list {
  margin: 21px 0;
}
.color ul {
  list-style: none;
}
.color li {
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
}
.color li:last-child {
  margin-right: 0;
}
.color-box {
  width: 100px;
  height: 100px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.default {
  background: #787f94;
}
.primary {
  background: #7171ef;
}
.success {
  background: #44cb83;
}
.info {
  background: #63a2fc;
}
.danger {
  background: #ff5448;
}
.warning {
  background: #fcb409;
}
.color li p {
  margin-top: 0;
  font-size: 0.9em;
  line-height: 1.67;
  color: #2c2c2c;
}
.gray-1 {
  background: #333741;
}
.gray-2 {
  background: #586077;
}
.gray-3 {
  background: #787f94;
}
.gray-4 {
  background: #bac2d0;
}
.gray-5 {
  background: #d9e0e9;
}
/* END COLOR */

/* TABLE */
.table {
  margin-top: 441px;
}
.book-table {
  width: 800px;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 15;
}
.book-list-table {
  margin-top: 42px;
}

.book-list-table tr {
  border-bottom: 1px solid #e2e1e1;
}

.book-list-table thead tr {
  background: #f8f8f8;
  color: #63a2fc;
}

.book-table thead tr th:first-child {
  text-align: left;
}

.book-table th,
.book-table td {
  font-size: 1em;
  line-height: 3;
  padding-left: 36px;
}

.book-table tbody td:nth-child(2),
.book-table tbody td:nth-child(3),
.book-table tbody td:nth-child(4),
.book-table tbody td:nth-child(5) {
  text-align: center;
}

/* book order list table */
.book-order-list-table {
  margin-top: 79px;
}

.book-order-list-table thead {
  color: #63a2fc;
}

.book-order-list-table tbody {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

.book-order-list-table tbody tr:nth-child(2) {
  border-bottom: 1px solid #e2e1e1;
}

.book-order-list-table tbody tr:nth-child(2) td:first-child,
.book-order-list-table tbody tr:nth-child(4) td:first-child {
  text-align: center;
}

.book-order-list-table tbody td:nth-child(2),
.book-order-list-table tbody td:nth-child(3),
.book-order-list-table tbody td:nth-child(4),
.book-order-list-table tbody td:nth-child(5) {
  border-bottom: 1px dashed #e2e1e1;
}

.book-order-list-table tbody tr:nth-child(1) th,
.book-order-list-table tbody tr:nth-child(3) th {
  color: #63a2fc;
  text-align: left;
}
/* END TABLE */



/*
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6, .typography p {
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1920px;
  height: 1555px;
  padding: 105px 160px 85px;
  box-sizing: border-box;
}

.typo-title, .color-title, .lists-title, .table-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #7171ef;
  font-weight: bold;
}

.typography {
  width: 640px;
}
.typography li span{
  display: inline-block;
  margin-right: 35px;
  width: 67px;
}*/
