@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m4pkyh');
  src:  url('fonts/icomoon.eot?m4pkyh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m4pkyh') format('truetype'),
    url('fonts/icomoon.woff?m4pkyh') format('woff'),
    url('fonts/icomoon.svg?m4pkyh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
