@charset "UTF-8";

/* reset */
body, h1, h2, p, img {
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
}

div, section, a, button, input, a:after {
  box-sizing: border-box;
}

a {
  display: inline;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  display: inline-block;
}

img {
  vertical-align: top;
  border: 0;
}

a:link {
  color: #222;
}
a:visited {
  color: #222;
}
a:hover {
  color: #222;
}
a:active {
  color: #222;
}
a:focus {
  color: #222;
  outline: 2px solid #222;
}

/* module */
.a11y {
  position: absolute;
  top: -9999em;
}

.guide {
  background: #fff url("../img/guide/leading-10.png");
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/* end module */

.container {
  width: 960px;
  height: 2300px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Varela Round", sans-serif;
  color: #222;
}

body {
  font: 87.5%/1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* HEADER */
.header {
  padding: 30px;
  background: #fff;
}
.header p {
  display: inline-block;
  position: relative;
}
.hamberger-img {
  position: absolute;
  top: 3px;
  /*margin-top: 3px;*/
}
.logo-img {
  margin-left: 30px;
  margin-right: 65px;
}
.nav {
  display: inline-block;
}
.nav li {
  text-transform: capitalize;
  display: inline-block;
}

.main-menu li {
  margin-right: 27px;
}

.main-menu li a{
  padding-right: 16px;
  background: url(../img/assets/icon-arrow-down.svg) no-repeat 100% 50%;
}

.main-sub-menu {
  display: none;
}

.header-btns {
  float: right;
  display: inline-block;
}

.header-btns > a {
  padding: 20px;
}

.header-btns > a:first-child {
  position: relative;
}

.header-btns > a:first-child:after {
  content: "3";
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 9px;
  color: #fff;
  width: 16px;
  height: 16px;
  padding: 3px 3px 1px 5px;
  border-radius: 15px;
  background: #1f4ba5;
}
/* END HEADER */

/* MAIN */
.product-type {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #1f4ba5;
  font-weight: bold;
}

/* sliders */
.sliders {
  display: flex;
}

.main-slider {
  position: relative;;
  flex: 3;
}

.slider-contents {
  width: 240px;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 100;
}

 .slider-contents h2 {
   margin-top: 20px;
   font-size: 36px;
   font-weight: normal;
 }

.slider-contents p {
  margin-top: 20px;
  color: #868686;
}

.buy-now {
  display: inline-block;
  width: 163px;
  height: 30px;
  margin-top: 40px;
  background: #1f4ba5;
  border-radius: 15px;
  position: relative;
}

.buy-now span {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  margin-left: 20px;
  height: 30px;
  line-height: 30px;
}

.buy-now .buy-now-cost {
  float: left;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-right: 1px solid #365dae;
  padding-right: 20px;
}

.buy-now .buy-now-text {
  float: right;
  margin-right: 20px;
}

.main-slider img {
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-left {
  position: absolute;
  top: 224px;
  left: 30px;
}

.arrow-right {
  position: absolute;
  top: 224px;
  right: 62px;
}

/* right slider */
.right-slider {
  flex: 1;
}

.right-slider li {
  position: relative;
}

.right-slider li:hover::after {
  content: "";
  width: 240px;
  height: 120px;
  border-left: 10px solid #1f4ba5;
  background: rgba(255, 255, 255, 0.53);
  position: absolute;
  top: 0;
  left: 0;
}

/* banner */
[class*="banner-"]{
  height: 240px;
}
.banner [class*="col-"] {
  text-align: center;
}

.banner-women {
  background: url(../img/assets/photo-banners-01.png) no-repeat;
  background-size: cover;
  padding-top: 120px;
}
.banner-women h2 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: normal;
}
.banner-women p {
  margin-top: 10px;
  font-size: 14px;
  color: #868686;
}

.banner-men {
  background: url(../img/assets/photo-banners-02.png) no-repeat;
  background-size: cover;
  padding: 35px 40px 0;
}
.banner-men h2 {
  margin-top: 115px;
  font-size: 16px;
  font-weight: normal;
}

.banner-acc {
  background: url(../img/assets/photo-banners-03.png) no-repeat;
  background-size: cover;
  padding: 140px 40px 0;
}
.banner-acc h2 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: normal;
}

/* featured */
.featured a[class*="featured-"] {
  height: 240px;
  outline: 1px solid #ececec;
  background: #fff;
  text-align: center;
  padding: 30px 35px 30px;
  position: relative;
}
.featured a[class*="featured-"] h3 {
  font-size: 12px;
  margin-top: 0;
}
.featured-cost {
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.featured a.featured-1 {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}
.featured-1 h2 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1f4ba5;
  margin-top: 20px;
}
.featured-1 span {
  font-size: 14px;
  display: inline-block;
  width: 80px;
  margin-top: 25px;
  color: #868686;
}
.featured-2 h3 {
  margin-bottom: 20px;
}
.featured-6 h3 {
  margin-bottom: 30px;
}
/* -------------------
/* blog
/* ------------------- */
[class*="blog-"] {
  outline: 1px solid #ececec;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.blog a.blog-1 {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}
.blog-1 h2 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1f4ba5;
  margin-top: 20px;
}
.blog-1 p {
  font-size: 14px;
  display: inline-block;
  width: 80px;
  margin-top: 25px;
  color: #868686;
}

.blog-1, .blog-2, .blog-3 {
  height: 240px;
}

.blog-4-1, .blog-4-2 {
  height: 120px;
}

.blog-2{
  background: url(../img/assets/photo-blog.png) no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.blog-3 {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

[class*="blog-"] span {
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  font-size: 12px;
}
[class*="blog-"] span span {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10px;
}
.blog-2 > h3,
.blog-3 > h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0;
}
.blog-2 > * {
  color: #fff;
}
.blog-3 span,
.blog-4-1 span,
.blog-4-2 span {
  color: #868686;
}

.blog-4-1, .blog-4-2 {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 35px;
  text-align: left;
}
.blog-4-1 h3, .blog-4-2 h3 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: normal;
}

/* ------------------- */
/* testimonials, about */
/* ------------------- */
.testimonials, .about {
  height: 480px;
  background: #fff;
}

/* testimonials */
.testimonials {
  padding: 40px 30px;
  border-bottom: 1px solid #ececec;
  position: relative;
}
.testimonials-header {
  position: relative;
  margin-bottom: 35px;
}
.testimonials-header img {
  position: absolute;
  top: 0;
  left: 0;
}
.testimonials-header h2 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1f4ba5;
  text-align: center;
  margin: 0;
}
.testimonial {
  text-align: center;
}
.testimonial > p {
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #868686;
  margin-top: 15px;
  line-height: 1.7;
}
.testimonial-profile {
  margin-top: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 15px;
}
.testimonial-profile img {
  float: left;
}
.testimonial-profile-name {
  margin-top: 15px;
  font-size: 14px;
  padding-left: 80px;
}
.testimonial-profile-nation {
  font-size: 12px;
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  color: #868686;
  padding-left: 80px;
}

.testimonials-pagenation {
  margin-top: 25px;
}
.testimonials-pagenation li {
  display: inline-block;
}
.testimonials button {
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  background: url(../img/assets/icon-reload.png) no-repeat 50% 50%;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* about */
.about {
  padding: 60px 30px;
  position: relative;
  border-bottom: 1px solid #ececec;
}
.about-header {
  position: relative;
  margin-bottom: 20px;
}
.about-header img {
  position: absolute;
  top: 0;
  left: 0;
}
.about-header h2 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1f4ba5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.about-header > span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #868686;
}

.about-inf {
  position: absolute;
  left: 0;
}
.about-inf-brands {
  background: #1f4ba5;
  height: 60px;
}
.about-inf-brands {
  color: #fff;
  padding: 0 20px;
}
.about-inf-brands > div {
  float: right;
  margin-left: 10px;
}
.about-inf-brands > div p:nth-child(1) {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
.about-inf-brands > div p:nth-child(2) {
  font-size: 12px;
  font-family: "PT Serif", sans-serif;
  font-style: italic;
}

.about-inf-contries {
  background: #1f4ba5;
  height: 60px;
}
.about-inf-contries {
  color: #fff;
  padding: 0 20px;
}
.about-inf-contries > div {
  float: right;
  margin-left: 10px;
}
.about-inf-contries > div p:nth-child(1) {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
.about-inf-contries > div p:nth-child(2) {
  font-size: 12px;
  font-family: "PT Serif", sans-serif;
  font-style: italic;
}

.about-text {
  margin-top: 165px;
  text-align: center;
  color: #868686;
}
.about-text-title {
  font-family: "PT Serif", sans-serif;
  font-size: 24px;
  font-style: italic;
}
.about-text-content {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 15px;
}

/* brands */
[class*="brands-"] {
  height: 120px;
  background: #fff;
  border-right: 1px solid #ececec;
}
.brands-8 {
  border-right: 0;
  position: relative;
  background: #fff url(../img/assets/icon-274.png) no-repeat center;
  background-size: auto;
}
.brands-8 span {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1f4ba5;
  font-weight: bold;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

/* END MAIN */
.footer-1 {
  height: 60px;
  background: #222;
  border-bottom: 1px solid #353535;
}
.footer-1 ul {
  margin-left: 70px;
}
.footer-1 ul li {
  display: inline-block;
  padding-right: 35px;
  margin-right: 35px;
  background: url(../img/assets/icon-midel-point.png) no-repeat right 50%;
}
.footer-1 ul li:last-child {
  background: none;
}
.footer-1 li a {
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
}
.footer-2 {
  height: 120px;
  background: #222;
}

.copyright, .mail {
  height: 120px;
  border-right: 1px solid #353535;
}
.sns, .payments {
  height: 60px;
  border-bottom: 1px solid #353535;
}

/* copyright */
.copyright {
  padding: 30px 40px;
  text-align: center;
}
.copyright p {
  color: #fff;
  opacity: 0.3;
  font-family: "PT Serif", sans-serif;
  font-style: italic;
  font-size: 12px;
  margin-top: 15px;
}

/* mail */
.mail {
  padding-top: 30px;
}
.mail input {
  border: 0;
  width: 360px;
  height: 30px;
  border-radius: 15px;
  background-color: #393939;
  background-image: url(../img/assets/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  padding-left: 45px;
  font-style: italic;
}
.mail ul {
  margin-top: 20px;
}
.mail ul li {
  display: inline-block;
  margin-right: 15px;
}
.mail ul a{
  color: #fff;
  font-size: 12px;
  opacity: 0.6;
}

/* sns, payments */
.sns li {
  display: inline-block;
  margin: 0 15px;
}
.payments li {
  display: inline-block;
  margin: 0 10px;
}

/* FOOTER */

/* END FOOTER */
