.clearfix::after { content: ''; display: block; clear: both; }

.a11y { position: absolute; top: -9999em; }

.align-center { display: flex; justify-content: center; align-items: center; }

body, h1, h2, h3, p, div, a { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.main-slider .main-slider-content span, .main-banner .product-type, .header-btns .shopping-cart-cost, .main-banner .main-banner-2, .most-loved .most-loved-1 h2, .most-loved a.col-2 span, .banner2 .banner2-1 span, .banner2 .banner2-2 span, .blog .blog-1 h2, .blog .blog-author span, .featured .featured-1 h2, a[class*="featured-"] .sale, a[class*="featured-"] .new, a[class*="featured-"] .hit, .featured-cost, .featured-sale-cost, .brands .brands-header span, .sign-up .sign-up-content { font-family: "Oswald", sans-serif; text-transform: uppercase; }

.header form input, .blog .blog-date, .blog .blog-author, .sign-up form input { font-family: "PT Serif", sans-serif; font-style: italic; }

.main-slider .main-slider-content span, .main-banner .product-type { color: #1f4ba5; font-size: 12px; letter-spacing: 0.1em; font-weight: bold; }

.main-banner a:hover::after, .most-loved a.col-2:hover::after, a[class*="featured-"]:hover::after, .sns .col--1-2:hover::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; opacity: 0.5; }

body { background: #eee; font: 87.5%/1.5; }

h1, h2, h3 { font-weight: normal; }

a { display: inline; text-decoration: none; cursor: pointer; display: inline-block; }

a:link, a:visited, a:hover, a:focus, a:active { color: inherit; }

ul { margin-top: 0; margin-bottom: 0; padding-left: 0; list-style: none; }

li { display: inline-block; }

input { border: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

button { cursor: pointer; border: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

header, main, footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

/* modules */
.container { height: 1700px; font-family: "Varela Round", sans-serif; color: #222; }

/* HEADER */
.header { display: flex; flex-flow: row; justify-content: space-between; align-items: center; height: 80px; background: #fff; padding: 30px; }

.header form { display: inline-block; position: relative; margin-left: 70px; margin-right: 50px; }

.header form input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 600px; height: 30px; background: #f6f6f6; border-radius: 30px; padding-left: 20px; }

.header form .header-search-btn { padding: 0; background: transparent; width: 16px; height: 16px; position: absolute; top: 7px; right: 10px; }

.header .header-location { font-size: 12px; color: #868686; margin-right: 65px; }

.header .hamberger-img { margin-right: 35px; }

.header .logo-img { margin-right: 60px; }

/* nav */
.nav { display: inline-block; }

.main-menu li { padding-right: 40px; }

.main-menu li:last-child { padding-right: 0; }

.main-menu li a { padding-right: 10px; font-size: 14px; }

.main-menu li:nth-child(1) a, .main-menu li:nth-child(2) a, .main-menu li:nth-child(3) a, .main-menu li:nth-child(4) a { background: url(../img/assets/icon-arrow-down.svg) no-repeat 100% 50%; }

.main-sub-menu { display: none; }

/* header buttons */
.header-btns { float: right; }

.header-btns .shopping-cart { position: relative; margin-right: 10px; }

.header-btns .shopping-cart::after { content: "3"; display: flex; flex-flow: row; justify-content: center; align-items: center; width: 16px; height: 16px; border-radius: 15px; background: #1f4ba5; font-size: 9px; color: #fff; position: absolute; top: -10px; right: -10px; }

.header-btns .shopping-cart-cost { font-size: 12px; margin-right: 35px; }

/* END HEADER */
/* MAIN */
/* main slider */
.main-slider { position: relative; height: 480px; background: #eee; }

.main-slider img { width: 100%; height: auto; }

.main-slider .main-slider-content { position: absolute; top: 0; left: 0; margin-left: 480px; height: 100%; flex-flow: column; align-items: flex-start; }

.main-slider .main-slider-content h2 { margin-top: 29px; margin-bottom: 29px; font-size: 48px; font-weight: normal; }

.main-slider .main-slider-content p { color: #868686; }

.main-slider .main-slider-content a { width: 102px; height: 30px; background: #1f4ba5; border-radius: 50px; color: #fff; font-size: 12px; line-height: 30px; text-align: center; margin-top: 36px; }

.main-slider .main-slider-content a:hover { background: none; color: #1f4ba5; border: 2px solid #1f4ba5; line-height: 28px; }

.main-slider .slider-arrow-btns { position: absolute; top: 50%; width: 100%; padding-left: 30px; padding-right: 30px; }

.main-slider .slider-arrow-btns .arrow-left { float: left; }

.main-slider .slider-arrow-btns .arrow-right { float: right; }

/* main banner */
.main-banner { background: #fff; position: relative; }

.main-banner a { display: flex; flex-flow: column; justify-content: center; align-items: center; height: 240px; background-size: cover; padding-left: 40px; padding-right: 40px; text-align: center; position: relative; }

.main-banner .main-banner-1 { background: url(../img/assets/photo-main-banner-1.png) no-repeat; }

.main-banner .main-banner-1 h2 { margin-top: 120px; font-size: 16px; }

.main-banner .main-banner-2 { background: url(../img/assets/photo-main-banner-2.png) no-repeat; }

.main-banner .main-banner-2 h2 { color: #fff; font-size: 18px; text-align: center; letter-spacing: 0.1em; font-weight: normal; }

.main-banner .main-banner-3 { background: url(../img/assets/photo-main-banner-3.png) no-repeat; justify-content: flex-start; }

.main-banner .main-banner-3 .product-type { margin-top: 140px; }

.main-banner .main-banner-3 h2 { margin-top: 10px; font-size: 16px; }

.main-banner .main-banner-4 { background: url(../img/assets/photo-main-banner-4.png) no-repeat; height: 480px; position: absolute; right: 0; }

.main-banner .main-banner-4 h2 { margin-top: 350px; font-size: 16px; }

.main-banner .main-banner-5 { background: url(../img/assets/photo-main-banner-5.png) no-repeat; }

.main-banner .main-banner-5 h2 { margin-top: 17px; margin-bottom: 14px; font-size: 24px; }

.main-banner .main-banner-5 p { color: #868686; font-size: 14px; }

/* most loved */
.most-loved div.col-2, .most-loved a.col-2 { display: flex; flex-flow: column; justify-content: center; align-items: center; height: 360px; background: #fff; border-right: 1px solid #eee; position: relative; }

.most-loved .most-loved-1 { text-align: center; padding-left: 50px; padding-right: 50px; }

.most-loved .most-loved-1 h2 { letter-spacing: 0.1em; font-size: 18px; color: #1f4ba5; font-weight: bold; margin-top: 25px; margin-bottom: 25px; }

.most-loved .most-loved-1 span { font-size: 14px; color: #868686; }

.most-loved .most-loved-1 .most-loved-btns { margin-top: 35px; margin-bottom: 20px; }

.most-loved .most-loved-1 .most-loved-btns button { width: 60px; height: 60px; background: #fff; border: 1px solid #ececec; }

.most-loved .most-loved-1 .most-loved-btns button:first-child { border-right: 0; }

.most-loved .most-loved-1 .pagination { position: relative; }

.most-loved .most-loved-1 .pagination span { position: absolute; top: 0; font-size: 5px; }

.most-loved a.col-2:last-child { border: 0; }

.most-loved a.col-2 h3 { position: absolute; top: 30px; left: 30px; right: 30px; text-align: center; font-size: 12px; }

.most-loved a.col-2 span { font-size: 12px; position: absolute; bottom: 30px; }

.most-loved a.col-2 span.sale, .most-loved a.col-2 span.new, .most-loved a.col-2 span.hit { left: 30px; color: #fff; font-size: 10px; width: 100px; padding-left: 0.3em; }

.most-loved a.col-2 span.sale { background: url("../img/assets/icon-sale.svg") no-repeat; }

.most-loved a.col-2 span.sale ~ .most-loved-cost { color: #ff3f2b; }

.most-loved a.col-2 span.new { background: url("../img/assets/icon-new.svg") no-repeat; }

.most-loved a.col-2 span.hit { background: url("../img/assets/icon-hit.svg") no-repeat; padding-left: 0.5em; }

.most-loved a.col-2 span.most-loved-sale-cost { right: 30px; color: #a1a1a1; font-size: 8px; text-decoration: line-through; }

/* banner2 */
.banner2 .banner2-1, .banner2 .banner2-2 { display: flex; flex-flow: column; justify-content: center; align-items: center; height: 120px; background-size: cover; position: relative; }

.banner2 .banner2-1 span, .banner2 .banner2-2 span { font-size: 14px; letter-spacing: 0.1em; position: absolute; right: 30px; }

.banner2 .banner2-1 .banner2-year, .banner2 .banner2-2 .banner2-year { right: 0; left: 40px; }

.banner2 .banner2-1 h2, .banner2 .banner2-2 h2 { font-size: 30px; }

.banner2 .banner2-1 { background: url(../img/assets/photo-banner2-1.png) no-repeat; color: #fff; }

.banner2 .banner2-1 p { font-size: 14px; opacity: 0.5; margin-top: 10px; }

.banner2 .banner2-2 { background: url(../img/assets/photo-banner2-2.png) no-repeat; }

.banner2 .banner2-2 .banner2-2--btns { position: absolute; right: 40px; text-align: center; }

.banner2 .banner2-2 .banner2-2--btns a { width: 120px; height: 30px; border: 2px solid #1f4ba5; border-radius: 50px; text-transform: capitalize; font-size: 12px; line-height: 26px; color: #1f4ba5; }

.banner2 .banner2-2 .banner2-2--btns a:hover { background: #1f4ba5; color: #fff; }

/* blog */
.blog .blog-1, .blog .blog-2, .blog .blog-3, .blog .blog-4, .blog .blog-5, .blog .blog-6, .blog .blog-7 { display: flex; flex-flow: column; justify-content: center; align-items: center; background: #fff; text-align: center; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; height: 240px; padding-left: 40px; padding-right: 40px; }

.blog .blog-1 { padding-left: 80px; padding-right: 80px; }

.blog .blog-1 h2 { letter-spacing: 0.1em; font-size: 18px; color: #1f4ba5; margin-top: 20px; font-weight: bold; }

.blog .blog-1 span { font-size: 14px; width: 80px; margin-top: 25px; color: #868686; }

.blog .blog-2 h3 { font-size: 18px; margin: 15px 0; }

.blog .blog-3 h3 { font-size: 18px; margin: 15px 0; }

.blog .blog-4 { align-items: flex-start; height: 120px; padding-left: 30px; padding-right: 35px; text-align: left; }

.blog .blog-4 h3 { font-size: 14px; margin-top: 11px; }

.blog .blog-5 h3 { font-size: 18px; margin: 15px 0; }

.blog .blog-6 h3 { font-size: 18px; margin: 15px 0; }

.blog .blog-7 h3 { font-size: 18px; margin: 15px 0; }

.blog .blog-7 { padding-left: 100px; padding-right: 100px; }

.blog .blog-date { font-size: 12px; color: #868686; }

.blog .blog-author { font-size: 10px; color: #868686; }

.blog .blog-author span { font-style: normal; }

.blog-2:hover { background: url(../img/assets/photo-blog-1.png) no-repeat; background-size: cover; color: #fff; }

.blog-2:hover span { color: #fff; opacity: 0.7; }

.blog-5:hover { background: url(../img/assets/photo-blog-2.png) no-repeat; background-size: cover; }

.blog-7:hover { background: url(../img/assets/photo-blog-3.png) no-repeat; background-size: cover; color: #fff; }

.blog-7:hover span { color: #fff; opacity: 0.7; }

/* featured */
.featured .col-2 { height: 240px; background: #fff; }

.featured .featured-1 { padding-top: 40px; padding-left: 70px; padding-right: 70px; }

.featured .featured-1 h2 { font-size: 18px; letter-spacing: 0.1em; color: #1f4ba5; margin-top: 20px; font-weight: bold; }

.featured .featured-1 span { font-size: 14px; display: inline-block; width: 80px; margin-top: 25px; color: #868686; }

a[class*="featured-"], div[class*="featured-"] { height: 240px; background: #fff; text-align: center; padding: 30px 35px; position: relative; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; }

a[class*="featured-"] h3 { font-size: 12px; margin-bottom: 20px; }

a[class*="featured-"] .sale, a[class*="featured-"] .new, a[class*="featured-"] .hit { color: #fff; text-align: left; font-size: 10px; width: 30px; position: absolute; top: 200px; padding-left: 0.3em; }

a[class*="featured-"] .sale { background: url("../img/assets/icon-sale.svg") no-repeat; }

a[class*="featured-"] .sale ~ .featured-cost { color: #ff3f2b; }

a[class*="featured-"] .new { background: url("../img/assets/icon-new.svg") no-repeat; }

a[class*="featured-"] .hit { background: url("../img/assets/icon-hit.svg") no-repeat; padding-left: 0.5em; }

.featured-cost { font-size: 12px; position: absolute; top: 200px; left: 0; right: 0; margin: 0 auto; }

.featured-sale-cost { font-size: 8px; color: #a1a1a1; text-decoration: line-through; position: absolute; top: 200px; right: 35px; }

/* brands */
.brands .col-1 { display: flex; flex-flow: column; justify-content: center; align-items: center; height: 120px; background: #fff; border-right: 1px solid #ececec; }

.brands .brands-header { border-right: 0; position: relative; }

.brands .brands-header span { position: absolute; }

.brands .brands-header span:nth-child(1) { color: #000; opacity: 0.1; font-size: 60px; font-weight: bolder; }

.brands .brands-header span:nth-child(2) { letter-spacing: 0.1em; color: #1f4ba5; font-weight: bold; font-size: 14px; padding-left: 30px; padding-right: 30px; text-align: center; }

/* sign up */
.sign-up { flex-flow: column; background: #1f4ba5; height: 120px; }

.sign-up .sign-up-content { color: #fff; margin-bottom: 20px; letter-spacing: 0.1em; }

.sign-up form { position: relative; }

.sign-up form .sign-up-btn { position: absolute; width: 30px; height: 30px; top: 0; right: 5px; background: transparent; padding: 0; }

.sign-up form input { width: 360px; height: 30px; border-radius: 50px; padding-left: 46px; background: #103480 url(../img/assets/icon-mail.svg) 15px 50% no-repeat; color: rgba(255, 255, 255, 0.3); }

/* sns */
.sns .col--1-2 { display: flex; flex-flow: row; justify-content: center; align-items: center; float: left; width: 60px; height: 60px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; position: relative; }

/* END MAIN */
/* FOOTER */
.footer { display: flex; flex-flow: row; justify-content: space-between; align-items: center; background: #222; height: 60px; color: #fff; padding-left: 65px; }

.footer .footer-copyright { opacity: 0.3; }

.footer .footer-links { opacity: 0.5; }

.footer .footer-links li { margin-right: 15px; }

.footer .footer-links li:last-child { margin-right: 0; }

.footer .footer-payment li { margin-right: 20px; }

/*# sourceMappingURL=../map/aware1920.css.map */