@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Oswald|PT+Serif|Varela+Round';

/* 스타일 초기화 */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin: 0;
	padding: 0;
}

ul {
  list-style-type: none;
}

img, fieldset {
  border: 0;
}

/* 숨김 컨텐츠 */
.a11y, legend {
  position: absolute;
  left: -9999em;
}

/* 본문 스타일 */
html {
  font-size: 0.625em;
}

body {
  background: #eee;
  color: #222;
  font-family: 'Varela Round', sans-serif;
}

/* item list */
.item-list {
  width: 720px;
  height: 480px;
  background: #fff;
  margin: 0 auto;
  /*overflow: hidden;*/
}

.item-list li {
  height: 120px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #ececec;
}

.item-list li:last-child {
  border-bottom: 0px;
}

/* item information */
.item-info {
  font-size: 1.2rem;
  order: 1;
  width: 360px;
  position: relative;
  box-sizing: border-box;
}

.item-info img {
  height: 118px;
  position: absolute;
  top: 0;
  left: 0;
}

.item-info em {
  width: 160px;
  position: absolute;
  top: 30px;
  left: 150px;
  font-style: normal;
}

.item-info p {
  display: inline-block;;
  position: absolute;
  top: 75px;
  left: 150px;
  font-family: 'PT Serif', sans-serif;
  font-style: italic;
  color: #b8b8b8;
}

/* item price */
.item-price {
  order: 2;
  width: 130px;
  /*display: block;*/
  padding: 35px;
  box-sizing: border-box;
  position: relative;
}

.hit, .sale, .new {
  position: absolute;
  top: 70px;
	width: 34px;
	height: 15px;
	text-indent: -9999em;
}

.price {
  font-size: 1.4rem;
  font-family: 'Oswald', sans-serif;
}

.item-price p[class*="sale"] ~ p {
  color: #f00;
}

.item-price p[class*="sale"]    { background: url("../img/icon-sale.png") no-repeat;    }
.item-price p[class*="new"]    { background: url("../img/icon-new.png") no-repeat;    }
.item-price p[class*="hit"]    { background: url("../img/icon-hit.png") no-repeat;    }

.original-price {
	font-family: 'Oswald', sans-serif;
	color: #a1a1a1;
	position: absolute;
	top: 70px;
	left: 78px;
	text-decoration: line-through;
}

/* item add to cart */
.item-add-cart {
  order: 3;
  padding: 30px 30px 0 0;
}

.select-size {
	color: #868686;
	font-family: 'PT Serif', sans-serif;
	font-style: italic;
	border-radius: 30px;
  border: 1px solid #f6f6f6;
  padding: 0 15px;
  box-sizing: border-box;
  width: 70px;
  height: 30px;
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
	background: #f6f6f6 url(../img/arrow.png) no-repeat right 10px center; /* 화살표 모양의 이미지 */
	cursor: pointer;
}

.btn-add-cart {
  width: 110px;
  height: 30px;
  border-radius: 15px;
  background: #1f4ba5;
  border: 1px solid #1f4ba5;
  color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
}

.add-to-wish,
.added {
	font-family: 'PT Serif', sans-serif;
  font-style: italic;
  color: #b8b8b8;
}

.item-add-cart > p {
	padding-left: 2em;
	margin: 1.2em;
	font-size: 1em;
}

.item-add-cart > p[class*="add"] { background: url("../img/icon-heart-plus.png") no-repeat left 0px; background-size: 17px 14px; }
.item-add-cart > p[class*="added"] { background: url("../img/icon-heart.png") no-repeat left 0px; background-size: 17px 14px; }
